html,
body {
    padding:0;
    margin:0;
    height:100%;
}

/* background */
#background {
    background-color: #000;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width:100%;
}

/* default styling form login / register */
#loginContainer * {
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin:0 auto;
    position: relative;
    max-width: 1024px;
}

/* input styling */
#inputContainer {
    width:400px;
    padding: 45px;
    float: left;
    border-right:1px solid #999;
    input::placeholder {
        color: #fff;
      }
      
      input::-webkit-input-placeholder {
        color: #fff;
      }
      
      input:-ms-input-placeholder {
        color: #fff;
      }
      
      input::-moz-placeholder {
        color: #fff;
      }
}

#inputContainer h2{
    text-align: center;
}

#inputContainer input[type="text"],
#inputContainer input[type="password"],
#inputContainer input[type="email"]
{
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    width: 100%;
    
}

#inputContainer button{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 100px;
    display: block;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
    transition-duration: 0.5s;
}

#inputContainer button:hover{
    background-color: black;
    cursor: pointer;
    transition-duration: 0.5s;
}


/* hasAccount/Doesnt have account text */
.hasAccountText span{
    font-weight: bold;
    font-size: 15px;
}

.hasAccountText span:hover{
    cursor: pointer;
}

.hasAccountText {
    text-align: center;
}

/* first load display none */
#registerForm,
#loginForm
 {
    display: none;
}

/* Login text container */
#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1{
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2{
    margin: 35px 0;
}

#loginText ul{
    padding: 0;
}

#loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
    background: url('../icons/checkmark.png') no-repeat;
}

/* error message styling */
#inputContainer .errorMessage{
    color: #07d159;
    font-size: 15px;
    display: block;
}