html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}

/* topContainer */
#topContainer {
    min-height: 100%;
    width: 100%;
}

/* navbarContainer on topcontainer */
#navBarContainer {
    background-color: #000;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.logo img{
    width: 32px;
    margin-bottom: 5px;
}

.navbar .group {
    border-top: 1px solid #a0a0a0;
    padding:10px 0 ;
}

.navItem {
    padding: 10px 0;
    font-weight: bold;
    font-size: 14px;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    text-decoration: none;
    color: #a0a0a0;
}

.navItemLink:hover{
    color: #ffffff;
}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

/* footer music control ! */
#nowPlayingBarContainer{
    border: 1px solid black;
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight
{
    width: 30%;
    min-width: 180px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nowPlayingCenter content */
#nowPlayingBar .content{
    width: 100%;
    height:57px;
}

.buttons {
    margin: 0 auto;
    display: table;
}

.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height:20px
}

.controlButton.play img,
.controlButton.pause img
{
    width: 32px;
    height: 32px;
}

.controlButton:hover{
    cursor: pointer;
}

/* playback yang ada dibawah buttons */
.playbackBar {
    display: flex;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.progressBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor:pointer;
    margin-top: 3px;
}

.progressBarBg{
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;;
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

/* nowPlaying left */

/* album artwork */
.albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float:left;
    background-size: cover;
}

/* track info */

.trackInfo{
    display: table;
}

#nowPlayingLeft .trackInfo .trackName{
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span{
    font-size: 12px;
    color: #a0a0a0;
}

/* volume on the right */
.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

/* footer music control ends! */

/* Main View Container */
#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100%-220px);
}

#mainContent {
    padding: 0 20px;
}